<h1>Lista de tareas</h1>
<ng-container *ngIf="records && records.length > 0; else noRecords">
  <li class="list-group-item" *ngFor="let record of records">
    {{ record.name }} - {{ record.date }}
    <div class="actions">
      <button class="btn btn-sm btn-primary" (click)="handleEdit(record)">
        Clonar
      </button>
      <button class="btn btn-sm btn-danger" (click)="handleDelete(record)">
        Eliminar
      </button>
    </div>
  </li>
</ng-container>

<ng-template #noRecords>
  <p class="alert alert-info">No hay registros en la base de datos.</p>
</ng-template>
